:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --text-cl: #212121;
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #ffffff;

  /* bacground colors */
  --header-bg-cl: #ffffff;
  --main-bg-cl: #e5e5e5;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #2f303a;
  --btn-bg-cl: #2196f3;
  --btn-bg-accent: #188ce8;
}
