.contakts {
  display: none; 
      @include mg(tablet) {
          display: block;
         

        }
    @include mg(desktop) {
      
      display: flex;
    }
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.contakts__item {
  @include mg(tablet) {
   margin: 0;

  }

  @include mg(desktop) {
    margin-right: 50px;
    
      &:last-child {
        margin-right: 0;
      }
  }
  
}

.contakts__link {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  @include mg(desktop) {
  padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
  
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}

.contakts__icon {
  &-mail {
    margin-right: 8px;
      fill: currentColor;
      width: 14px;
      height: 10px;
      @include mg(desktop) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
      }
  }

  &-tel {
      margin-right: 8px;
      fill: currentColor;
      width: 10px;
      height: 14px;  
      @include mg(desktop) {
        margin-right: 10px;
        width: 10px;
        height: 16px;
      }
    }
  

}

.contacts {    
  text-align: center;
  justify-content: center;  
  margin-bottom: 60px;

@include mg(tablet) {
  margin-left: 0;
  margin-right: 165px;
}
  @include mg(desktop) {
    margin-bottom: 0;
    margin-right: 70px;
  }  
}

.contacts-info {
  margin-top: 20px;  
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

.contacts-info__location {
  
  margin-bottom: 9px;
  color: var(--secondary-txt-cl);
}

.contacts-info__item {
  margin-bottom: 9px;   

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-info__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}

.contacts-info__phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}
