.contakts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contakts__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.contakts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}

.contakts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts {
  margin-right: 70px;
}

.contacts-info {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-info__location {
  margin-bottom: 9px;
  color: var(--secondary-txt-cl);
}

.contacts-info__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-info__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}

.contacts-info__phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-cl);
  }
}
