.personal__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }

  &:hover .personal__socials-icon,
  &:focus .personal__socials-icon {
    fill: #ffffff;
  }
}

.personal__socials-item:not(:last-child) {
  margin-right: 10px;
}

.personal__socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection {
  display: block;
  margin-right: 100px;
}

.connection__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.connection__list {
  display: flex;
  align-items: center;
}

.connection__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.connection__item:not(:last-child) {
  margin-right: 10px;
}

.connection__icon {
  fill: #ffffff;
}
