.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__title.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  
  // display: block;
  // margin: -15px;
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;

  // }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  // }
}

.benefits__item {
  margin: 15px;
  max-width: 450px;
  @media screen and (min-width: 768px) {
   max-width: 325px; 
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}


.benefits__box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-cl);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
