header {
  background-color: var(--header-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}



.menu-button {
  position: absolute;
  z-index: 20;
  right: 30px;
  display: flex;
 
  padding: 0;
  border: none;
  background-color: transparent;
  // &.is-open {
  //   position: absolute;
  //     z-index: 20;
  // }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

