.hero-group {
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  @include mg(retina) {    
        height: 800px;
        padding-top: 236px;
  }
   @include mg(tablet) {
    max-width: 768px;
       height: 400px;
    
        @include mg(retina) {            
            height: 800px;
          }
  }
    @include mg(desktop) {
      max-width: 1600px;
         height: 600px;
         padding-top: 200px;
      
           @include mg(retina) {
               height: 1200px;
              padding-top: 400px;
            }
    }
  
  background-image: url(../images/fon/img-1_sm.jpg),
   linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  @include mg(retina) {
    background-image: url(../images/fon/img-1_sm@2x.jpg),
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)); 
   }
  
   @include mg(tablet) {
    background-image: url(../images/fon/img-1_md.jpg),
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    
      @include mg(retina) {
        background-image: url(../images/fon/img-1_md@2x.jpg),
          linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
      }
   }

        @include mg(desktop) {
          background-image: url(../images/fon/img-1_lg.jpg),
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    
          @include mg(retina) {
            background-image: url(../images/fon/img-1_lg@2x.jpg),
              linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
          }
        }
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;

}

.hero {  
  justify-content: center;
}



.hero__title { 
   width: 360px; 
  font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

   @include mg(desktop) {
    width: 696px;
    font-size: 44px;
      line-height: 1.36;
   }
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}
