
.mobile-menu {
    display: none; 
    transition: display 10s cubic-bezier(0.4,
      0,
      0.2,
      1); 
         
  &.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 40px;
    z-index: 10;
    top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--header-bg-cl);
  }
  &.is-open .menu-button {
      display: flex;  
      position: absolute;
      z-index: 30;
    }
}


.mobile-menu_nav-item {
  margin-bottom: 32px;
}

.mobile-menu_contacts {
   margin-top: auto;
   margin-bottom: 32px;
   &-item {
    margin-bottom: 32px;
   }
}



.mobile-menu_nav-link { 
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
  &--activ {
    font-weight: 500;
      font-size: 40px;
      line-height: 1.175;
      text-align: center;
      letter-spacing: 0.02em;
    color: #2196F3;
  } 
}
 

.mobile-menu_contacts-tel { 
font-weight: 500;
  font-size: 34px;
  line-height: 1.175; 
  letter-spacing: 0.02em;

  color: #2196F3;
}

.mobile-menu_contacts-mail {
  font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  
    color: #757575;
}

.mobile-menu_socials {
  display: flex;
}

.mobile-menu_socials-item  {
  position: relative;
  padding-right: 20px;
&:not(:last-child)::after  {
    position: absolute;
    content: "";
    display: flex;
    right: 9px; 
    bottom: 5px;
    width: 2px;  
    height: 18px;
 
    border: 1px solid rgba(33, 33, 33, 0.2);  
  }
}

.mobile-menu_socials-link {  
  font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;     
    letter-spacing: 0.02em;  
    color: #2196F3;
   
}
